* {
  box-sizing: border-box;
}

html, body, aside {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
}

main,
.favourite {
  padding: 20px;
  width: 100%;
}

header {
  margin-bottom: 78px;
  position: relative;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 140%;
  margin: 0;
}

.favourite {
  background-color: #F8F8F8;
  min-height: 100%;
  padding-top: 88px;
  position: fixed;
  right: -100%;
  top: 0;
  transition: right 2s;
  z-index: 20;
}
